body {
    color: #5C5E60;
    background-color:  #fafafa;
    font-family: 'Public Sans', sans-serif;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

#navbar {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#jumbotron h1 {
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 3em;
}

#jumbotron p {
    font-size: 1.65em;
}

footer {
    bottom: 0;
    height: 9em;
    background-color: #F6FBFE;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-10.mr-2 {
    margin-left: 0.65rem;
}

svg.svg-inline--fa.fa-instagram.fa-w-14.fa-sm.mr-2 {
    margin-left: 0.57rem;
}

svg.svg-inline--fa.fa-envelope.fa-w-16.fa-sm.mr-2 {
    margin-left: 0.48rem;
}